src/main/mule/bookingservicesoap.xml
<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit-soap="http://www.mulesoft.org/schema/mule/apikit-soap" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/apikit-soap http://www.mulesoft.org/schema/mule/apikit-soap/current/mule-apikit-soap.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="api-main">
        <http:listener path="/BookingService/BookingServiceSOAP" config-ref="api-httpListenerConfig">
            <http:response statusCode="#[attributes.additionalTransportData.statusCode default 200]">
                <http:headers><![CDATA[#[attributes.protocolHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[attributes.additionalTransportData.statusCode default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[attributes.protocolHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit-soap:router config-ref="soapkit-config">
            <apikit-soap:attributes><![CDATA[#[%dw 2.0
              output application/java
              ---
              {
                  headers: attributes.headers,
                  method: attributes.method,
                  queryString: attributes.queryString
            }]]]></apikit-soap:attributes>
        </apikit-soap:router>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="6d681f7c-a58e-4537-9e94-b49af8586190" type="ABC:INVALIDEMAIL">
				<ee:transform doc:name="Copy_of_Transform Message" doc:id="bf222788-173e-4ab4-ba82-898156bbf930" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/java
ns soap http://schemas.xmlsoap.org/soap/envelope
---
{
    body: {
        soap#Error: {
            message:"Please enter valid emailId"
        }
    } write "application/xml"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="15ddd14b-ca88-439c-892c-c4ddba175881" type="ABC:UNAVAILABLE">
				<ee:transform doc:name="Copy_of_Copy_of_Transform Message" doc:id="d31e7cc8-e696-473f-84f4-aadca908cfbc" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/java
ns soap http://schemas.xmlsoap.org/soap/envelope
---
{
    body: {
        soap#Error: {
            message:"OOps!,Sorry!!Not Enough Available Tickets"
        }
    } write "application/xml"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="b64ab2c3-6023-4c58-91cf-d2b13813ae0f" >
				<ee:transform doc:name="Transform Message" doc:id="be9d12dc-6107-486f-881d-a8eb42809692" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/java
ns soap http://schemas.xmlsoap.org/soap/envelope
---
{
    body: {
        soap#Error: {
            message:"OOps!,Sorry!!Error occured"
            }
        }
    } write "application/xml"]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
    </flow>
    <flow name="BookTicket:\soapkit-config">
        <ee:transform doc:name="Extracting the payload from SOAP Request" doc:id="0d9c720b-2453-41fe-8463-0b58458886f0" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0ns ns0 http://www.example.org/BookingService/

output application/json
---
payload.body.ns0#BookTicket]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="Refers-to-booking-flow" doc:id="ca454c87-2d17-4fce-b08b-9068f24dd94a" name="bookingFlow"/>
    </flow>
</mule>
